<a href="https://colab.research.google.com/github/fumiya-kume/cs-learn/blob/master/6-8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 卵を落とす問題
100階建ての建物があります。N階以上の他kさから卵を落とすと卵は割れてしまいます。N階より下からであれば卵は割れません。２つの卵を使い、落とす回数をできるだけ少なくなるようにNを見つけてください。

# 考え方
2分探索を１つ目の卵を使い探索する。卵が割れたら候補の一番下から１つづつ落として調べていく。

In [222]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [223]:
def is_safe(floor, threshold):
  if floor < threshold:
    return True
  else:
    return False

In [224]:
def check(floors, number_of_egg, threshold, op_count):
  if number_of_egg == 0:
    # 現在の最小の階数-1が閾値となる階数
    return (floors[0],op_count)
  elif number_of_egg == 1:
    # 残り一つしか卵が残ってない場合は小さい階から順番に検査していく
    if not(is_safe(floors[0], threshold)):
      number_of_egg = number_of_egg - 1
      return check(floors, 0, threshold, op_count +1)
    
    # 一個ずつ取り除いていく
    floors = np.delete(floors, np.s_[:1:])
    return check(floors, number_of_egg, threshold, op_count +1)
  else:
    # 卵が２つ残ってる時のフロー
    take_rate = int(len(floors)/2)-1
    if take_rate == 0:
      take_rate = 1
    if is_safe(floors[take_rate], threshold):
      # 卵が割れなかったら割れなかったところまで取り除く
      floors = np.delete(floors, np.s_[:take_rate:])
    else:
      # 卵が割れたら割れたとこより上を取り除く
      number_of_egg = number_of_egg - 1
      floors = np.delete(floors, np.s_[take_rate+1::])

    # 上半分を検査していく
    return check(floors, number_of_egg, threshold, op_count +1)

column = ["閾値", "検証", "手数"]
df1 = pd.DataFrame(data=[], columns=column)
for x in range(10):
  threshold = x
  result = check(np.array(range(10)), 2, threshold, 0)
  df1 = df1.append(pd.DataFrame(data=[[str(threshold), str(result[0]), str(result[1])]], columns=column))

df1

  閾値 検証 手数
0  0  0  2
0  1  1  3
0  2  2  4
0  3  3  5
0  4  4  6
0  5  5  4
0  6  6  5
0  7  7  5
0  8  8  6
0  9  9  7